PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/dbname
GEMINI_API_KEY=your_GEMINI_API_KEY
JWT_ACCESS_SECRET=your_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=your_JWT_REFRESH_SECRET
REFRESH_TOKEN_EXPIRES_IN=7d
ACCESS_TOKEN_EXPIRES_IN=20m